body{
	background-color: black;
}

.content1{
	background-color:black;
	width: 10%;
	height: 100px;
	float: left;
}
.content2{
	background-color: aquamarine;
	width: 80%;
	height: 500px;
	float: left;
	text-align: center;
}

.content2 input{
	width: 15%;
	height: 30px;
}

.content2 button{
	width: 7%;
	height: 30px;
	background-color: blue;
	color: white;
	padding: 5px;
}
.content3{
	background-color: white;
	width: 30%
	height:100px;
}
